table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: left;
  padding: 8px;
}


/*tr:hover::after {
  background-color: #f5f5f5;
}*/

tr:nth-child(even) {
  background-color:#f2f2f2;
}
